

.is-active{
    animation: animatedCard 3s cubic-bezier(0,1.65,.83,.67)forwards;

}
@keyframes animatedCard {
    0% {
        transform: scale(1);
        animation-delay: 1s;
    }
    50% {
        transform: scale(0);
        animation-delay: 1s;
    }
    100% {
        transform: scale(1);
        animation-delay: 1s;
    }

}



.is-active-cube {
    position: relative;
    width: auto;
    height: 200px;
}
.is-active-myfish {
    position: absolute; /* Position absolue pour placer le poisson à l'intérieur du conteneur */
    width: 150px; /* Largeur du poisson */
    height: 100px; /* Hauteur du poisson */
    animation: animatedCube 5s linear infinite; /* Appliquer l'animation swim pendant 5 secondes en boucle avec une vitesse constante */
}
 

@keyframes animatedCube {
    0%, 100% { transform: translateY(180px) translateX(0); } /* Départ et arrivée du poisson à gauche */
    20% { transform: translateY(180px) translateX(200px); } /* Le poisson plonge vers le haut à 25% du temps */
    40% { transform: translateY(280px) translateX(400px); } /* Le poisson plonge vers le bas et se déplace vers la droite à 50% du temps */
    60% { transform: translateY(180px) translateX(600px); } /* Le poisson plonge à nouveau vers le haut à 75% du temps */
    80% { transform: translateY(280px) translateX(800px); }
    100% { transform: translateY(180px) translateX(1000px); }
}



/* Style du conteneur du poisson */
.fish-container {
    position: relative; /* Position relative pour positionner le poisson à l'intérieur du conteneur */
    width: auto; /* Largeur du conteneur */
    height: 200px; /* Hauteur du conteneur */
}

/* Style du poisson */
.fish {
    position: absolute; /* Position absolue pour placer le poisson à l'intérieur du conteneur */
    width: 150px; /* Largeur du poisson */
    height: 100px; /* Hauteur du poisson */
    animation: swim 10s linear infinite; /* Appliquer l'animation swim pendant 5 secondes en boucle avec une vitesse constante */
}

/* Définition des @keyframes pour l'animation du poisson */
@keyframes swim {
    0%, 100% { transform: translateY(+220px) translateX(0); } /* Départ et arrivée du poisson à gauche */
    20% { transform: translateY(+360px) translateX(200px); } /* Le poisson plonge vers le haut à 25% du temps */
    40% { transform: translateY(+220px) translateX(400px); } /* Le poisson plonge vers le bas et se déplace vers la droite à 50% du temps */
    60% { transform: translateY(+360px) translateX(600px); } /* Le poisson plonge à nouveau vers le haut à 75% du temps */
    80% { transform: translateY(+220px) translateX(800px); }
    100% { transform: translateY(+360px) translateX(1000px); }
    /* 75% { transform: translateY(-20px) translateX(100%); } */
}



.pTwo span {
    transform: translateY(100%) rotateX(-90deg);
  }
  .text-container:hover .pOne span {
    transform: translateY(-100%) rotateX(-90deg);
  }
  .text-container:hover .pTwo span {
    transform: translateY(0%) rotateX(0deg);
  }